* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #ff14915a, #ffc0cb);
}


.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff4a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 110px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    text-align: center;
}

.button {
    margin: 0 5px; /* Adjust the margin as needed */
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border-color: #333;
    cursor: pointer;
    background-color: rgba(238, 175, 175, 0.169);
    color: black;
    transition: background-color 0.3s;
}

/* Add margin between buttons */
.button + .button {
    margin-bottom: 30px;
    margin-left: 30px; /* Adjust the margin as needed */
}

.button:hover {
    background-color: #0057b365;
}
